<!-- Additional SEO Meta Tags -->
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="7 days">
<meta name="language" content="English">
<meta name="geo.region" content="MY">
<meta name="geo.placename" content="Malaysia">
<meta name="author" content="AC SPACE Digital">
<meta name="publisher" content="AC SPACE Digital">
<meta name="copyright" content="© {{ site.time | date: '%Y' }} AC SPACE Digital">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#614CE1">

<!-- Open Graph additional tags -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="AC SPACE Digital">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="en_GB">

<!-- Twitter additional tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@acspacedigital">
<meta name="twitter:creator" content="@acspacedigital">

<!-- Mobile app capability -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="AC SPACE Digital">

<!-- Preconnect to important domains -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>

<!-- DNS prefetch -->
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link rel="dns-prefetch" href="//cdn.jsdelivr.net">
<link rel="dns-prefetch" href="//www.google-analytics.com">
